{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{%block title %} Shop {% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'eshop/index.css' %}" rel="stylesheet">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>


        
        {% block head %}
        {% endblock %}
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div id="navbar" class="navbar navbar-dark bg-dark">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">SHOP</a>
                </li>

            </ul>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-heart" style="font-size:24px"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart' %}">
                        <i class='fa fa-shopping-cart' style='font-size:24px'></i>
                        <span id="cart_value" class="badge badge-primary badge-pill">0</span>
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
                {% else %}
                <li id="login" class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
            </ul>

                
            
            </div>
        {%block body %}
        {% endblock %}
    </body>
</html>
