.form-inline {
    float: right;
}

img {
    width:30px;
}

#main {
    text-align: center;
    width: 100%;
    margin: auto;
    display: flex; 
    flex-wrap: wrap;
    
}

#main > div {
    width: 400px;
    height: 400px;
    margin: 30px;
}
#main > div > img {
    width: 100%;
    


}
.navbar {
    margin-bottom: 10px;
}

ul {
    margin-inline-start: 50px;
    margin-inline-end: 50px;
}

.fa {
    font-size:20px;
}
.fa-shopping-cart {
    font-size: 20px;
}

.badge-primary {
    color: #212529;
}
.badge {
    font-size:65%;
}
/* .nav > .nav-item > .nav-link {
    
} */

/* #7E1B9F; */